.checkout {
  display: flex;
  background-color: white;
  padding: 20px;
  height: max-content;
}

.checkout_ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout_title {
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}
