.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #f3f3f3;
  border: solid 1px #dddd;
  border-radius: 3px;
  width: 300px;
  height: 100px;
}
.subtotal_gift {
  display: flex;
  align-items: center;
}
.subtotal_gift > input {
  margin-right: 5px;
}
.subtotal > button {
  background-color: goldenrod;
  width: 100%;
  height: 30px;
  border-radius: 2px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
